PLP_SOURCE=postgres
DATABASE_URL=postgresql+psycopg2://postgres:your-password-here@localhost:5432/synthealarge
EUNOMIA_DUCKDB_PATH=C:\path\to\eunomia.duckdb
EUNOMIA_DUCKDB_PATH_10k=C:\path\to\eunomia_10k.duckdb
