PLP_DB_USER=postgres
PLP_DB_PASSWORD=your-password-here
PLP_DB_SERVER=localhost/syntheaxl
PLP_DB_PORT=5432
PLP_JDBC_PATH=C:/jdbc
PLP_POSTGRES_PATH=C:/Program Files/PostgreSQL/18/bin
PLP_CDM_SCHEMA=syntheaxl
PLP_CDM_VERSION=5.4
PLP_CDM_DATABASE_NAME=syntheaxl
PLP_WORK_SCHEMA=plp_work
PLP_COHORT_TABLE=plp_cohort
PLP_SYNTHEA_SCHEMA=native
PLP_SYNTHEA_VERSION=3.3.0
PLP_SYNTHEA_FILE_LOC=D:/path/to/synthea/output_xl/csv
PLP_VOCAB_FILE_LOC=D:/path/to/ETL_synthea
PLP_ANALYSIS_ID=p-plp-rstudio-current-setup
PLP_ANALYSIS_NAME=P-PLP current setup reproduced in R
PLP_OUTPUT_DIR=plp-output
PLP_PROJECT_DATA_DIR=data
PLP_EUNOMIA_CACHE_DIR=D:/path/to/P-PLP/data/eunomia_cache
PLP_EUNOMIA_DUCKDB_PATH=D:/path/to/P-PLP/data/eunomia_synthea-allergies-10k.duckdb
